html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Kattintható képek – kéz kurzor */
.img-clickable {
    cursor: pointer;
}
/* ===== LOGIN / REGISTER OLDALAK ===== */

.auth-wrapper {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    background: white;
    padding: 30px;
    border-radius: 24px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

    .auth-card h2 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .auth-card p {
        color: #6c757d;
        margin-bottom: 20px;
    }

    .auth-card input {
        border-radius: 12px;
        padding: 10px;
    }

    .auth-card button {
        border-radius: 999px;
        padding: 10px;
        font-weight: bold;
    }

.auth-footer {
    text-align: center;
    margin-top: 15px;
}

